<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.king.holymary"

    android:installLocation="preferExternal">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Tabs_Activity"/>
        <activity android:name=".LogIn"/>
        <activity android:name=".First_Activity"/>
        <activity android:name=".NoticePost"/>
        <activity android:name=".NoticeActivity_1"/>
        <activity android:name=".ImageDisplay"/>
        <activity android:name=".VideoDisplay"/>
        <activity android:name=".ClassPost"/>
        <activity android:name=".ChangePassword"/>
        <activity android:name=".ChangePhoneNum"/>
        <activity android:name=".AboutUs"/>


    </application>

</manifest>